.card{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px;
  box-sizing: border-box;
}

.card .card-img{
  border-radius: 50px;
  box-shadow: 30px ;
  
}

.head{
 display: flex;
 justify-content: center;
 align-items: center;
  
}